/* RESET CSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

input, button {
    border: none;
    font: inherit;
}

/* KEYFRAME */
@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateY(16px);
    }
    50% {
        opacity: 0.5;
        transform: translateY(8px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
    
}

/* BASE STYLE */
:root {
    overflow-x: hidden;
    --accent-color: #11A2F3;
    --accent-color-dark: rgba(103, 116, 198, 1)
}

body {
    font-family: 'Poppins', sans-serif;
    color: #292c33;
    background-color: #EEEFF3;
    overflow-x: hidden;
}

.bg {
    position: absolute;
    z-index: -1;

}
/* HEADER */

.logo {
    opacity: 0.9;
    color: var(--accent-color);
    font-size: 45px;
}
.logo:hover {
    color: var(--accent-color-dark);
}

.header {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 25px;
    animation: fade-in 0.3s 0.1s ease-out backwards; 
}

.nav{

}

.links {
    display: flex;
    column-gap: 45px;

}

.link-item {
    list-style: none;
}

.link {
    font-size: 16px;
    color: rgba(103, 116, 198, 0.7);
    text-transform: uppercase;
    letter-spacing: 1px;

}

.link:hover {
    color: rgba(103, 116, 198, 1);
    transition: all 0.2;
}

.link--btn {
    color: #fff;
    background-color: #11A2F3;
    padding: 10px 18px;
    border-radius: 3px;
    transition: all 0.2s;

}

.link--btn:hover {
    background-color: #0d8fda;
    color: #fff;
}

/* MAIN SECTION */

.main {
    max-width: 1150px;
    background-color: #fff;
    height: 1000px;
    margin: 0 auto;
    border-radius: 5px;
    margin-bottom: 35px;
    box-shadow: 0 4px 44px rgba(0,0,0,0.07);
    animation: fade-in 0.4s 0.2s ease-out backwards; 
    overflow: hidden;
}

.intro {
    display: flex;
}

.search {
    flex: 1;
    background-color: #f3f5fa;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 15px;
}

.first-heading {
    font-size: 38px;
    font-weight: 500;
    margin-bottom: 30px;
    line-height: 1.1;
    max-width: 400px;

}

.emphasis {
    font-style: italic;
    font-weight: 700;
    text-decoration: underline;

}

.form {
    width: 383px;
    position: relative;
}

.input {
    height: 61px;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    padding-left: 53px;
    font-size: 17px;
    border-radius: 2px;
    margin-bottom: 12px;

}

.input-icon {
    color: #adb4c2;
    position: absolute;
}

.input-icon:nth-of-type(1) {
    top: 22px;
    left: 12px;
}
.input-icon:nth-of-type(2) {
    top: 95px;
    left: 12px;
}

.btn {
    height: 61px;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    color: #fff;
    border-radius: 2px;
    background-color: var(--accent-color);
    opacity: 0.9;

}
.btn:hover {
    cursor: pointer;
    color: var(--accent-color-dark);
    transition: all 0.2;
}

.photos {
    flex: 1;
    display: flex;
}
.photo-1, .photo-2 {
    height: 450px;
    width: 300px;
    object-fit: cover;
    display: block;
}

.credentials {
    display: flex;
    align-items: center;
    justify-content: space-around;


}

.seen-text {
    font-size: 20px;
    font-weight: 500;
    color: #ccd0d9;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    transition: all 0.2s;
    text-align: center ;
}